.page-header {
  color: var(--light-color);
  background-color: var(--dark-blue);
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 259px;
  background-size: 100% 462px, cover;
  background-repeat: no-repeat;

  @media (min-resolution: 1.5dppx) {
    .page-header {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }
  }
  &--closed {
    background-position: center 0;
  }

  &--opened {
    background-position: center 259px;
  }

  &--closed &__nav {
    background-color: var(--nav);
  }

  &--opened &__nav {
    background-color: var(--dark-blue);
  }

  &__logo {
    position: relative;
    left: 20px;

    display: block;
    padding: 22px 0 25px 0;
    width: 75px;
    height: 22px;

    color: var(--light-color);

    &:hover,
    &:focus {
      color: var(--pink);
    }

    &:active {
      color: var(--down-post);
    }
  }

  &--closed &__logo {
    padding-bottom: 22px;
  }

  &--opened &__logo {
    padding-bottom: 25px;
  }

  &__logo-tablet {
    display: none;
  }

  &__logo-desktop {
    display: none;
  }
}

@media (min-width: 660px) {
  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center 255px;
    background-size: auto;

    @media (min-resolution: 1.5dppx) {
      .page-header {
        background-image: url("../img/bg-back-tablet@2x.jpg");
        background-position: center 257px;
        background-size: 1200px auto;
      }
    }

    &--closed {
      background-position: center 0;
    }

    &__logo-mobile {
      display: none;
    }

    &__logo-tablet {
      display: block;
    }

    &__logo {
      padding-top: 27px;
      width: 147px;
      height: 40px;
    }

    &--opened &__logo,
    &__logo {
      padding-bottom: 42px;
    }

    &--closed &__logo {
      padding-bottom: 43px;
      margin-bottom: 1px;
    }
  }
}

@media (min-width: 960px) {
  .page-header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center 0;
    background-size: auto;

    @media (min-resolution: 1.5dppx) {
      .page-header {
        background-image: url("../img/bg-back-desktop@2x.jpg");
        background-position: center 12px;
        background-size: 2560px auto;
      }
    }

    &__wrapper-nav {
      box-sizing: border-box;
      padding: 0 10px;
      margin: 0 auto;
      max-width: 960px;
    }

    &--opened &__nav,
    &--closed &__nav,
    &__nav {
      background-color: var(--nav);
    }

    &--opened &__wrapper-nav,
    &--closed &__wrapper-nav,
    &__wrapper-nav {
      display: flex;
    }

    &r__logo-mobile {
      display: none;
    }

    &__logo-tablet {
      display: none;
    }

    &__logo-desktop {
      display: block;
    }

    &__logo {
      left: 0;
      padding: 27px 0 43px 1px;
      width: 147px;
      height: 40px;
    }

    &--closed &__logo {
      margin-bottom: 0;
    }
  }
}
