<section class="connections">
  <div class="connections__wrapper container">
    <h2 class="visually-hidden">Контакты</h2>
    <p class="connections__question">Остались вопросы? Свяжитесь с нами!</p>
    <ul class="connections__list">
      <li class="connections__item">
        <b class="connections__text">Звоните:</b>
        <a class="connections__link" href="tel:+78125556666">+7 (812) 555-66-66</a>
      </li>
      <li class="connections__item">
        <b class="connections__text">Пишите:</b>
        <a class="connections__link connections__link--margin" href="mail@htmlacademy.ru">mail@htmlacademy.ru</a>
      </li>
      <li class="connections__item">
        <b class="connections__text">Приезжайте в гости:</b>
        <a class="connections__link" href="https://yandex.ru/maps/-/CKABr4n4">ул. Большая Конюшенная, 19/8</a>
      </li>
    </ul>
  </div>
  <div id="ymap" class="map">
    <picture>
      <source type="image/webp" media="(min-width: 960px)"
        srcset="img/bg-map-desktop@2x.webp 2x, img/bg-map-desktop@1x.webp 1x">
      <source type="image/webp" media="(min-width: 660px)"
        srcset="img/bg-map-tablet@1x.webp 2x, img/bg-map-tablet@1x.webp 1x">
      <source type="image/webp" srcset="img/bg-map-mobile@1x.webp 2x, img/bg-map-mobile@1x.webp 1x">

      <source media="(min-width: 960px)" srcset="img/bg-map-desktop@2x.jpg 2x, img/bg-map-desktop@1x.jpg 1x">
      <source media="(min-width: 660px)" srcset="img/bg-map-tablet@1x.jpg 2x, img/bg-map-tablet@1x.jpg 1x">
      <img class="map__image" src="img/bg-map-mobile@1x.jpg" srcset="img/bg-map-mobile@2x.jpg 2x"
        alt="example">
    </picture>
  </div>
</section>