<section class="contest">
  <h2 class="visually-hidden">Форма для участия</h2>
  <p class="contest__slogan slogan">Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу
    бонусную карту! <span class="contest__hidden">Пожалуйста, заполните форму ниже:</span></p>

  <div class="contest__wrapper">
    <form class="contest__form form" action="https://echo.htmlacademy.ru" method="get">
      <fieldset class="form__fieldset form__fieldset--user">
        <!-- Для того, чтобы серый фон у fieldset тянулся, задал обертку внутри fieldset -->
        <div class="form__mobile-wrapper form__mobile-wrapper--user">
          <p class="form__wrapper form__wrapper--user">
            <label class="form__text" for="second-name">Фамилия:</label>
            <input class="form__input" id="second-name" type="text" name="secondName" placeholder="Укажите фамилию *"
              required>
          </p>
          <p class="form__wrapper form__wrapper--user">
            <label class="form__text" for="first-name">Имя:</label>
            <input class="form__input" id="first-name" type="text" name="firstName" placeholder="Введите ваше имя *"
              required>
          </p>
          <p class="form__wrapper form__wrapper--user">
            <label class="form__text" for="middle-name">Отчество:</label>
            <input class="form__input" id="middle-name" type="text" name="middleName" placeholder="Ну и отчество тоже">
          </p>
        </div>
      </fieldset>

      <fieldset class="form__fieldset form__fieldset--grey form__fieldset--check">
        <legend class="form__legend form__legend--checkbox">Ваши безбашенные достижения в путешествии</legend>
        <div class="form__mobile-wrapper form__mobile-wrapper--checkbox">
          <label class="form__checkbox checkbox">
            <input class="checkbox__input visually-hidden" type="checkbox" name="selfie" checked>
            <span class="checkbox__icon"></span>
            Сделал селфи с акулой
          </label>
          <label class="form__checkbox checkbox">
            <input class="checkbox__input visually-hidden" type="checkbox" name="beach" checked>
            <span class="checkbox__icon"></span>
            Обгорел на пляже
          </label>
          <label class="form__checkbox checkbox">
            <input class="checkbox__input visually-hidden" type="checkbox" name="norris">
            <span class="checkbox__icon"></span>
            Видел Чака Норриса
          </label>
          <label class="form__checkbox checkbox">
            <input class="checkbox__input visually-hidden" type="checkbox" name="gift">
            <span class="checkbox__icon"></span>
            Накупил сувениров
          </label>
          <label class="form__checkbox checkbox">
            <input class="checkbox__input visually-hidden" type="checkbox" name="tower" checked>
            <span class="checkbox__icon"></span>
            Удержал башню
          </label>
          <label class="form__checkbox checkbox">
            <input class="checkbox__input visually-hidden" type="checkbox" name="hotel">
            <span class="checkbox__icon"></span>
            Разгромил отель
          </label>
        </div>
      </fieldset>

      <fieldset class="form__fieldset form__fieldset--contacts">
        <legend class="form__legend form__legend--contacts">Контактная информация</legend>
        <div class="form__mobile-wrapper form__mobile-wrapper--contacts">
          <p class="form__wrapper">
            <label class="form__text form__text--number" for="phone">Номер телефона</label>
            <input class="form__input form__input--number" id="phone" type="tel" name="usersPhone"
              placeholder="Номер, пожалуйста">
            <span class="form__number"></span>
          </p>
          <p class="form__wrapper">
            <label class="form__text form__text--email" for="email">Адрес почты</label>
            <input class="form__input form__input--email" id="email" type="email" name="usersEmail"
              placeholder="Введите почту *" required>
            <span class="form__mail"></span>
          </p>
        </div>
      </fieldset>

      <fieldset class="form__fieldset form__fieldset--grey form__fieldset--radio">
        <legend class="form__legend form__legend--radio">С каким приложением путешествовали?</legend>
        <div class="form__mobile-wrapper form__mobile-wrapper--radio">
          <label class="form__radio radio">
            <input class="radio__input visually-hidden" type="radio" name="downloadApp" value="iOS" checked>
            <span class="radio__icon"></span>
            Pink для iOS
          </label>
          <label class="form__radio radio">
            <input class="radio__input visually-hidden" type="radio" name="downloadApp" value="Android">
            <span class="radio__icon"></span>
            Pink на Android
          </label>
          <label class="form__radio radio">
            <input class="radio__input visually-hidden" type="radio" name="downloadApp" value="Windows">
            <span class="radio__icon"></span>
            Windows Phone
          </label>
        </div>
      </fieldset>

      <fieldset class="form__fieldset form__fieldset--textarea">
        <legend class="form__legend form__legend--textarea">Опишите свои эмоции</legend>
        <div class="form__mobile-wrapper form__mobile-wrapper--textarea">
          <textarea class="form__emotions" name="emotions"
            placeholder="Можно прям в красках, не стесняясь в выражениях"></textarea>
        </div>
      </fieldset>
      <button class="contest__post">Отправить форму</button>
      <p class="contest__varning"><span class="contest__star">*</span> — обязательные <span
          class="contest__hidden-star">для заполнения</span> поля</p>
    </form>
  </div>
</section>