<section class="effect">
  <div class="effect__wrapper container">
    <div class="effect__timer">
      <svg class="effect__tablet" width="238" height="276">
        <use xlink:href="#timer"></use>
      </svg>
      <svg class="effect__desktop" width="298" height="345">
        <use xlink:href="#timer-desktop"></use>
      </svg>
      <div class="effect__dial"></div>
      <p class="effect__hours">24</p>
    </div>
    <div class="effect__description">
      <h2 class="effect__title">Эффект <span class="effect__position">на 24 часа!</span></h2>
      <p class="effect__text">Британские ученые провели исследования и доказали, <span
          class="effect__position-desktop">что положительный эффект <span class="effect__position">от использования
            приложения длится целые сутки!</span></span></p>
      <a class="effect__link" href="#">Узнать больше об исследовании</a>
    </div>
  </div>
</section>