<section class="features">
  <h2 class="visually-hidden">Особенности приложения</h2>
  <div class="features__slogan">
    <p class="features__slogan-text">Устали от серости мегаполиса?</p>
    <p class="features__slogan-text features__slogan-text--position">Нам есть, что вам предложить!</p>
  </div>
  <div class="features__wrapper container">
    <ul class="features__list">
      <li class="features__item">
        <h3 class="features__title">Поднимает настроение</h3>
        <p class="features__text">Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько
          кликов!</p>
      </li>
      <li class="features__item">
        <h3 class="features__title">Меняет мир вокруг</h3>
        <p class="features__text">Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы <span
            class="features__position">усилить эффект</span></p>
      </li>
      <li class="features__item">
        <h3 class="features__title">Заводит новых друзей</h3>
        <p class="features__text">Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых</p>
      </li>
    </ul>
  </div>
</section>