<footer class="page-footer page-footer--index">
  <div class="page-footer__wrapper container">
    <div class="page-footer__logo contacts">
      <a href="index.html" class="contacts__link">
        <svg class="contacts__logo-mobile" width="147" height="40">
          <use xlink:href="#footer-logo-mobile"></use>
        </svg>

        <svg class="contacts__logo-desktop" width="147" height="40">
          <use xlink:href="#footer-logo-desktop"></use>
        </svg>
      </a>
    </div>
    <div class="page-footer__social social">
      <ul class="social__list">
        <li class="social__item">
          <a class="social__link social__link--twitter" href="https://twitter.com/htmlacademy_ru"
            aria-label="twitter"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--facebook" href="https://www.facebook.com/htmlacademy"
            aria-label="facebook"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--youtube" href="https://www.youtube.com/htmlacademyru"
            aria-label="youtube"></a>
        </li>
      </ul>
    </div>
    <div class="page-footer__copyright copyright">
      <p class="copyright__text">Разработано</p>
      <a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive" aria-label="html academy">
        <svg width="27" height="34">
          <use xlink:href="#academy"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>