<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Pink</title>
  <link rel="preload" href="fonts/opensans.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/opensanslight.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/opensansbold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
  <script defer src="https://api-maps.yandex.ru/2.1/?apikey=8520d0c4-6590-4cb7-b455-2a4a0f575897&lang=ru_RU"></script>
</head>
