<section class="reviews">
  <h2 class="visually-hidden">Отзывы</h2>
  <div class="reviews__wrapper container">
    <button class="reviews__arrow reviews__arrow--left">
      <svg width="22" height="41">
        <use xlink:href="#arrow-left"></use>
      </svg>
    </button>
    <div class="reviews__list slider">
      <input class="reviews__btn slider__input slider__input--one" id="reviews-radio-1" type="radio"
        name="sliderReviewsBtn" checked>
      <input class="reviews__btn slider__input slider__input--two" id="reviews-radio-2" type="radio"
        name="sliderReviewsBtn">
      <input class="reviews__btn slider__input slider__input--three" id="reviews-radio-3" type="radio"
        name="sliderReviewsBtn">
      <blockquote class="reviews__quote">
        <cite class="reviews__author">Николай Петров</cite>
        <p class="reviews__author-age">25 лет, водитель трамвая</p>
        <p class="reviews__text">«Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые
          вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»</p>
      </blockquote>
      <div class="reviews__nav slider__wrapper">
        <label class="slider__toggle slider__toggle--one" for="reviews-radio-1"
          aria-label="Посмотреть базовый тариф"></label>
        <label class="slider__toggle slider__toggle--two" for="reviews-radio-2"
          aria-label="Посмотреть стандартный тариф"></label>
        <label class="slider__toggle slider__toggle--three" for="reviews-radio-3"
          aria-label="Посмотреть полный тариф"></label>
      </div>
    </div>
    <button class="reviews__arrow reviews__arrow--right">
      <svg width="22" height="41">
        <use xlink:href="#arrow-right"></use>
      </svg>
    </button>
  </div>
</section>