<section class="tarrif">
  <h2 class="visually-hidden">Варианты подписки</h2>
  <div class="tarrif__wrapper">
    <div class="tarrif__items slider">
      <input class="tarrif__btn tarrif__btn--one slider__input slider__input--one" id="tarrif-radio-1" type="radio"
        name="sliderBtn">
      <input class="tarrif__btn tarrif__btn--two slider__input slider__input--two" id="tarrif-radio-2" type="radio"
        name="sliderBtn" checked>
      <input class="tarrif__btn tarrif__btn--three slider__input slider__input--three" id="tarrif-radio-3" type="radio"
        name="sliderBtn">
      <table class="tarrif__list">
        <tr class="tarrif__head">
          <th class="tarrif__value tarrif__value--invisible"></th>
          <th class="tarrif__value">
            База
            <p>1,99 USD</p>
          </th>
          <th class="tarrif__value">
            Стандарт
            <p>3,99 USD</p>
            <div class="tarrif__hit">
              <span class="tarrif__hit-text">Хит</span>
            </div>
          </th>
          <th class="tarrif__value">
            Анлим
            <p>9,99 USD</p>
          </th>
        </tr>
        <tr class="tarrif__body">
          <td class="tarrif__set tarrif__set--invisible">Розовый фильтр</td>
          <td class="tarrif__set tarrif__set--yes">
            Розовый фильтр
            <svg class="tarrif__yes" width="31" height="21">
              <use xlink:href="#yes"></use>
            </svg>
          </td>
          <td class="tarrif__set tarrif__set--yes">
            Розовый фильтр
            <svg class="tarrif__yes" width="31" height="21">
              <use xlink:href="#yes"></use>
            </svg>
          </td>
          <td class="tarrif__set tarrif__set--yes">
            Розовый фильтр
            <svg class="tarrif__yes" width="31" height="21">
              <use xlink:href="#yes"></use>
            </svg>
          </td>
        </tr>
        <tr class="tarrif__body">
          <td class="tarrif__set tarrif__set--invisible">Смайлики</td>
          <td class="tarrif__set tarrif__set--no">
            Смайлики
            <svg class="tarrif__no" width="27" height="26">
              <use xlink:href="#no"></use>
            </svg>
          </td>
          <td class="tarrif__set tarrif__set--yes">
            Смайлики
            <svg class="tarrif__yes" width="31" height="21">
              <use xlink:href="#yes"></use>
            </svg>
          </td>
          <td class="tarrif__set tarrif__set--yes">
            Смайлики
            <svg class="tarrif__yes" width="31" height="21">
              <use xlink:href="#yes"></use>
            </svg>
          </td>
        </tr>
        <tr class="tarrif__body">
          <td class="tarrif__set tarrif__set--invisible">Комментарии</td>
          <td class="tarrif__set tarrif__set--no">
            Комментарии
            <svg class="tarrif__no" width="27" height="26">
              <use xlink:href="#no"></use>
            </svg>
          </td>
          <td class="tarrif__set tarrif__set--no">
            Комментарии
            <svg class="tarrif__no" width="27" height="26">
              <use xlink:href="#no"></use>
            </svg>
          </td>
          <td class="tarrif__set tarrif__set--yes">
            Комментарии
            <svg class="tarrif__yes" width="31" height="21">
              <use xlink:href="#yes"></use>
            </svg>
          </td>
        </tr>
      </table>
      <div class="tarrif__nav slider__wrapper">
        <label class="slider__toggle slider__toggle--one" for="tarrif-radio-1"
          aria-label="Посмотреть базовый тариф"></label>
        <label class="slider__toggle slider__toggle--two" for="tarrif-radio-2"
          aria-label="Посмотреть стандартный тариф"></label>
        <label class="slider__toggle slider__toggle--three" for="tarrif-radio-3"
          aria-label="Посмотреть полный тариф"></label>
      </div>
    </div>
  </div>
</section>